# Do not count sample outputs from tests folder :
tests/cwl/acetylation/* linguist-generated
tests/cwl/glycosylation/* linguist-generated
tests/cwl/phosphorylation/* linguist-generated
tests/cwl/lipid/* linguist-generated
tests/cwl/sumoylation/* linguist-generated
tests/cwl/localisation/* linguist-generated
tests/cwl/structural/* linguist-generated
tests/bash/docker_tests/output/* linguist-generated
