# Do not count sample outputs from tests folder :
tests/cwl/test_modules/acetylation/* linguist-generated
tests/cwl/test_modules/all/* linguist-generated
tests/cwl/test_modules/glycosylation/* linguist-generated
tests/cwl/test_modules/lipid/* linguist-generated
tests/cwl/test_modules/localisation/* linguist-generated
tests/cwl/test_modules/phosphorylation/* linguist-generated
tests/cwl/test_modules/ptm/* linguist-generated
tests/cwl/test_modules/structural/* linguist-generated
tests/cwl/test_modules/sumoylation/* linguist-generated
tests/cwl/test_individual_containers/structural/disopred/* linguist-generated
tests/cwl/test_individual_containers/structural/psipred/* linguist-generated
tests/cwl/test_individual_containers/structural/raptorx/* linguist-generated
tests/cwl/test_individual_containers/structural/scratch1d/* linguist-generated
tests/cwl/test_individual_containers/phosphorylation/musitedeep1/* linguist-generated
tests/cwl/test_individual_containers/phosphorylation/musitedeep2/* linguist-generated
tests/cwl/test_individual_containers/phosphorylation/netphospan/* linguist-generated
tests/cwl/test_individual_containers/phosphorylation/netphos/* linguist-generated
tests/cwl/test_individual_containers/localisation/memsatsvm/* linguist-generated
tests/cwl/test_individual_containers/localisation/tmhmm2/* linguist-generated
tests/cwl/test_individual_containers/localisation/tmp_ssurface/* linguist-generated
tests/cwl/test_individual_containers/glycosylation/isoglyp/* linguist-generated
tests/cwl/test_individual_containers/glycosylation/netcglyc/* linguist-generated
tests/cwl/test_individual_containers/glycosylation/netnglyc/* linguist-generated
tests/cwl/test_individual_containers/glycosylation/netoglyc/* linguist-generated
tests/bash/docker_tests/output/* linguist-generated
